<h1><%= @trip.origin %> to <%= @trip.destination %><% if @trip.date < Time.now %> - EXPIRED <% end %> </h1> 
<h3>
<% if @trip.date.present? %><%= @trip.date.strftime '%A, %B %e' %> <%end%> <% if @trip.time.present? %> at <%= @trip.time.strftime '%l:%M %p'%> <%end%> 
</h3>

    <%= image_tag @trip.image, :class => 'thumb' %>
<ul>
    <li>Seats available: <%= @trip.seat - @trip.bookings.count%> </li>
    <li>Price: <%= number_to_currency @trip.price, precision: 0 %></li>
    <li>Car: <%= @trip.car_make %> <%= @trip.car_model %></li>

</ul>

<p>
<% if @trip.user.present? %>
    <% if @current_user.present?%>
        <%= link_to user_path(@trip.user), :class => 'button' do %>
            <p>Driver: <%= @trip.user.first_name %> 
            <%= image_tag @trip.user.image, :class => 'user-icon' %>
            </p>
        <% end %>
    <% else %>
        <%= link_to new_user_path(@trip.user), :class => 'button' do %>  <!-- if you want to see user, you must sign up (if not signed in) -->
            <p>Driver: <%= @trip.user.first_name %> 
            <%= image_tag @trip.user.image, :class => 'user-icon' %>
            </p>
        <% end %>
    <% end %>
<% end %>
</p>

<div class="trip-add-info">

    <% if @current_user.present? %>
    <div class="comments">
        <h2 class="comment-title">Comments</h2>
        <% if @trip.comments.length != 0  %>
            <% @trip.comments.order(:created_at).reverse_order.each do |comment| %>
                <ul class="comment"> 
                    <li><span class="comment-user"><%= comment.user.first_name %>:</span> </li>
                    <li> <%= comment.content %>  </li>
                    <li>
                        <% if @current_user == comment.user %>
                        <button class="edit"><%= link_to 'âœï¸', edit_comment_path(comment.trip_id,comment.id), :class => 'button' %></button> 
                        <%= button_to 'ðŸ—‘', comment_path(comment.trip_id,comment.id), :method => 'delete', :data => { :confirm => 'Are you sure?' }  %> 
                        <% end%>
                    </li>
                </ul>
            <% end %>
        <% end %>
        <% if @current_user.present?%>
            <div class="button-container"> <div class="button-comment"><button><%= link_to 'Add Comment', new_comment_path(@trip), :class => 'button' %></button></div></div>
        <% end %>
    </div>
    <% end %>
    


    <% if @trip.bookings && @trip.bookings.any? %>
    <div class="booked">
        <h2>Passengers</h2>
            <ul>
                <% @trip.bookings.each do |booking| %> 
                    <li> <%= booking.user.first_name %> <% if @current_user == booking.user && booking.trip.date > Date.today %> 
                    <%= button_to 'Delete Booking', trip_booking_path(booking.trip_id, booking.id), :method => 'delete', :data => { :confirm => 'Are you sure you want to delete your booking?' } %> <% end %> 
                    </li>
                <% end %>
            </ul>
        <% end %>
    </div>



    <% if @current_user.present?%>
        <% if @current_user.id == @trip.user.id%> <!-- only the user who created the trip can edit -->
            <% unless @trip.date < Time.now %>
                <button><%= link_to 'Edit Trip', edit_trip_path(@trip), :class => 'button' %></button>
                <%= button_to 'Delete Trip', @trip, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
            <% end %>
        <% end %>
    <% end %>


    <% if @current_user.present?%>
        <% if @current_user.id != @trip.user.id%> <!-- only the user who created the trip can edit -->
            <% unless @trip.bookings.count >= @trip.seat  %>
                <%= button_to 'Book Trip', trip_bookings_path(@trip), :method => 'post', :data => { :confirm => 'Confirm booking?' } %>
            <% end %>
        <% end %>
    <% end %>



</div>

