<h1><%= @trip.title %></h1> 
<h3>
<% if @trip.date.present? %><%= @trip.date.strftime '%A, %B %e' %> <%end%> <% if @trip.time.present? %> at <%= @trip.time.strftime '%l:%M %p'%> <%end%> 
</h3>

<ul>
    <li>Seats available: <%= @trip.seat - @trip.bookings.count%></li>
    <li>Price: <%= number_to_currency @trip.price, precision: 0 %></li>
    <li>Car: <%= @trip.car_make %> <%= @trip.car_model %></li>
    <%= image_tag @trip.image, :class => 'thumb' %>
</ul>

<p>
<% if @trip.user.present? %>
    <% if @current_user.present?%>
        <%= link_to user_path(@trip.user), :class => 'button' do %>
            <p>Driver: <%= @trip.user.first_name %> 
            <%= image_tag @trip.user.image, :class => 'thumb' %>
            </p>
        <% end %>
    <% else %>
        <%= link_to new_user_path(@trip.user), :class => 'button' do %>  <!-- if you want to see user, you must sign up (if not signed in) -->
            <p>Driver: <%= @trip.user.first_name %> 
            <%= image_tag @trip.user.image, :class => 'thumb' %>
            </p>
        <% end %>
    <% end %>
<% end %>
</p>

<% if @trip.bookings.present? %>
<h2>Passengers</h2>
    <% @trip.bookings.each do |booking| %> 
        <li> <%= booking.user.first_name %> <% if @current_user == booking.user %> <%= button_to 'Delete Booking', trip_booking_path(booking.trip_id, booking.id), :method => 'delete', :data => { :confirm => 'Are you sure you want to delete your booking?' } %> <% end %> </li>
    <% end %>
<% end %>

<% if @current_user.present?%>
    <% if @current_user.id == @trip.user.id%> <!-- only the user who created the trip can edit -->
        <button> <%= link_to 'Edit Trip', edit_trip_path %></button>
        <%= button_to 'Delete Trip', @trip, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
    <% end %>
<% end %>


<% if @current_user.present?%>
    <% if @current_user.id != @trip.user.id%> <!-- only the user who created the trip can edit -->
        <% unless @trip.bookings.count >= @trip.seat %>
            <%= button_to 'Book Trip', trip_bookings_path(@trip), :method => 'post', :data => { :confirm => 'Confirm booking?' } %>
        <% end %>
    <% end %>
<% end %>

