<h1><%= @trip.title %> <% if @trip.date < Time.now %> - EXPIRED <% end %> </h1> 
<h3>
<% if @trip.date.present? %><%= @trip.date.strftime '%A, %B %e' %> <%end%> <% if @trip.time.present? %> at <%= @trip.time.strftime '%l:%M %p'%> <%end%> 
</h3>

    <%= image_tag @trip.image, :class => 'thumb' %>
<ul>
    <li>Seats available: <% if @trip.bookings && @trip.bookings.any? %> <%= @trip.seat - @trip.bookings.count%> <% end %>  </li>
    <li>Price: <%= number_to_currency @trip.price, precision: 0 %></li>
    <li>Car: <%= @trip.car_make %> <%= @trip.car_model %></li>

</ul>

<p>
<% if @trip.user.present? %>
    <% if @current_user.present?%>
        <%= link_to user_path(@trip.user), :class => 'button' do %>
            <p>Driver: <%= @trip.user.first_name %> 
            <%= image_tag @trip.user.image, :class => 'user-icon' %>
            </p>
        <% end %>
    <% else %>
        <%= link_to new_user_path(@trip.user), :class => 'button' do %>  <!-- if you want to see user, you must sign up (if not signed in) -->
            <p>Driver: <%= @trip.user.first_name %> 
            <%= image_tag @trip.user.image, :class => 'thumb' %>
            </p>
        <% end %>
    <% end %>
<% end %>
</p>

<% if @trip.bookings && @trip.bookings.any? %>
<h2>Passengers</h2>
    <% @trip.bookings.each do |booking| %> 
        <li> <%= booking.user.first_name %> <% if @current_user == booking.user && booking.trip.date > Date.today %> <%= button_to 'Delete Booking', trip_booking_path(booking.trip_id, booking.id), :method => 'delete', :data => { :confirm => 'Are you sure you want to delete your booking?' } %> <% end %> </li>
    <% end %>
<% end %>

<% if @current_user.present?%>
    <% if @current_user.id == @trip.user.id%> <!-- only the user who created the trip can edit -->
        <% unless @trip.date < Time.now %>
            <%= link_to 'Edit Trip', edit_trip_path(@trip), :class => 'button'%>
            <%= button_to 'Delete Trip', @trip, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
        <% end %>
    <% end %>
<% end %>


<% if @current_user.present?%>
    <% if @current_user.id != @trip.user.id%> <!-- only the user who created the trip can edit -->
        <% if @trip.bookings && @trip.bookings.any? %><% unless @trip.bookings.count >= @trip.seat  %><% end %>
            <%= button_to 'Book Trip', trip_bookings_path(@trip), :method => 'post', :data => { :confirm => 'Confirm booking?' } %>
        <% end %>
    <% end %>
<% end %>

