<h1 class="search-title">Search</h1>

<h3 class="search-results"> <%= pluralize(@trips.count, "Result") %></h3>

<div class="search-area">
    <%= render 'search/form' %>
</div>


<div class="result-container">
    <div class="result">
        <div class="search-headings">
            <div class="th">From</div>
            <div class="th">To</div>
            <div class="th">Date</div>
            <div class="th">Time</div>
            <div class="th">User</div>
        </div>
    </div>
    <div class="result">
        <% @trips.order(:date, :time).each do |trip| %>
            <% unless trip.date < Time.now %>
                <%= link_to trip_path(trip), :class => "button" do %>
                    <div class="trip-results">
                        <div class="start-result"><%= trip.origin %></div>
                        <div><%= trip.destination %></div>
                        <div><%= trip.date.strftime('%e %b %Y') %></div>
                        <div><%= trip.time.strftime('%l:%M %p') %></div>
                        <div class="end-result"><%= trip.user.first_name %></div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>