<% if @current_user.present?%>
    <h1><%= @current_user.first_name %> <%= @current_user.last_name %>'s Profile</h1>
<% end %>

<ul>
    <%= image_tag @current_user.image, :class => 'icon' %>
    <li>First Name: <%= @current_user.first_name %> </li>
    <li>Last Name: <%= @current_user.last_name %> </li>
    <li>Email Address: <%= @current_user.email %></li>
    <button>Edit Profile</button>

</ul>