<h1>Edit Profile</h1>

<%= form_for @user, :html => {:multipart => true } do |f| %> 
    <ul>
        <li class="list-form">
            <%= f.label :first_name, "First Name:", :class => "label-sign" %>
            <%= f.text_field :first_name, :class => "input-sign"   %>
        </li>
        <li class="list-form">
            <%= f.label :last_name, "Last Name:", :class => "label-sign" %>
            <%= f.text_field :last_name, :class => "input-sign"   %>
        </li>
        <li class="list-form">
            <%= f.label :email, "Email:", :class => "label-sign" %>
            <%= f.email_field :email, :class => "input-sign"   %>
        </li>
        <li class="list-form">
            <%= f.label :image, "Image:", :class => "label-sign"%>
            <%= f.cl_image_upload :image, :class => "input-sign"   %>
        </li>
        <li class="list-form">
            <%= f.label :password, "New Password:" , :class => "label-sign"%>
            <%= f.password_field :password, :class => "input-sign"  %>
        </li>
        <li class="list-form">
            <%= f.label :password_confirmation, "Password Confirmation:" , :class => "label-sign"%>
            <%= f.password_field :password_confirmation, :class => "input-sign"  %>
        </li>

        <%= f.submit "Save" %>
    </ul>
<% end %>


