<div class="sign">
<h1>Sign Up</h1>

<% if @user.errors.any? %>
    <ol>
        <% @user.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
        <% end%>
    </ol>
<% end %>


<%= form_for @user do |f| %> 
    <ul>
        <li class="list-form">
            <%= f.label :first_name, "First Name:", :class => "label-sign" %>
            <%= f.text_field :first_name, :required => true, :class => "input-sign"  %>
        </li>
        <li class="list-form">
            <%= f.label :last_name, "Last Name:", :class => "label-sign" %>
            <%= f.text_field :last_name, :required => true, :class => "input-sign"   %>
        </li>
        <li class="list-form">
            <%= f.label :email, "Email:", :class => "label-sign" %>
            <%= f.email_field :email, :required => true, :class => "input-sign"   %>
        </li>
        <li class="list-form">
            <%= f.label :password, "Password:", :class => "label-sign" %>
            <%= f.password_field :password, :required => true, :class => "input-sign"  %>
        </li>
        <li class="list-form">
            <%= f.label :password_confirmation, "Password Confirmation:", :class => "label-sign" %>
            <%= f.password_field :password_confirmation, :required => true, :class => "input-sign"  %>
        </li>

        <%= f.submit "Sign Up!" %>
    </ul>
<% end %>


<h1>Log In</h1>

<%= form_tag login_path do %>
    <ul>
        <li class="list-form">
            <%= label_tag :email, nil, :class => "label-sign" %>
            <%= email_field_tag :email, nil, :class => "input-sign" %>           
        </li>
        <li class="list-form">
            <%= label_tag :password, nil, :class => "label-sign" %>
            <%= password_field_tag :password, nil, :class => "input-sign" %>        
        </li>
        <li class="list-form">
            <%= submit_tag "Log In" %>    
        </li>
    </ul>
<% end %>

</div>