<h1>Sign Up</h1>

<% if @user.errors.any? %>
    <ol>
        <% @user.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
        <% end%>
    </ol>
<% end %>


<%= form_for @user do |f| %> 
    <ul>
        <li>
            <%= f.label :first_name, "First Name" %>
            <%= f.text_field :first_name, :required => true  %>
        </li>
        <li>
            <%= f.label :last_name, "Last Name" %>
            <%= f.text_field :last_name, :required => true  %>
        </li>
        <li>
            <%= f.label :email %>
            <%= f.email_field :email, :required => true  %>
        </li>
        <li>
            <%= f.label :password %>
            <%= f.password_field :password %>
        </li>
        <li>
            <%= f.label :password_confirmation, "Password Confirmation" %>
            <%= f.password_field :password_confirmation %>
        </li>

        <%= f.submit "Sign Up!" %>
    </ul>
<% end %>
