<% if @current_user.present?%>
    <% if @current_user.id == @user.id%>
        <h1>Your Profile</h1>
    <% else %>
        <h1><%= @user.first_name %> <%= @user.last_name %>'s Profile</h1>
    <% end %>
<% end %>

<ul>
<% if @user.image.present?%>
    <%= image_tag @user.image, :class => 'icon' %>
<% end %>
    <li>First Name: <%= @user.first_name %> </li>

<% if @current_user.present?%>
    <li>Last Name: <%= @user.last_name %> </li>
    <li>Email Address: <%= @user.email %></li>

</ul>
    <% if @current_user.id == @user.id%> <!-- only the user who created the trip can edit -->
        <button> <%= link_to 'Edit Profile', edit_user_path %></button>
    

    <h2>Your Trips</h2>
        <% @user.trips.each do |trip| %>
            <div> 
                <h3><%= link_to trip.title, trip %></h3>
                <ul>
                    <li> <%= trip.date.strftime '%A, %B %e' %> at <%= trip.time.strftime '%l:%M %p' %></li>
                    <li>Passengers:</li>
                    <li>Price: <%= number_to_currency trip.price, precision: 0 %></li>
                    <li>Car: <%= trip.car_make %> <%= trip.car_model %></li>
                    <%= link_to image_tag(trip.image, :class => 'thumb'), trip %>
                </ul>
            </div>
        <% end%>
    <% end %>


<% end %>

<% if @user.bookings.present? %>
    <%= @user.bookings.pluck (:title) %>
<% end %>