<h1>Passenger Bookings</h1>

<% if @current_user.bookings.present? %>
    <h2>Upcoming Passenger Trips</h2>
        <% @current_user.bookings.each do |booking| %>
        <% unless booking.trip.date < Time.now %>
        <%= link_to booking.trip, :class => "button" do %> 
            <div class="passenger" title="Click through to modify booking">
                <h3> <%= booking.trip.user.first_name %> - <%= booking.trip.origin %> to <%= booking.trip.destination %> <% if booking.trip.date < Date.today %> - EXPIRED <% end %></h3>
                <%= image_tag booking.trip.image, :class => 'thumb' %>
                <ul>
                    <li> Trip date: <%= booking.trip.date.strftime '%A, %B %e' %> at <%= booking.trip.time.strftime '%l:%M %p' %>    </li>
                    <li> Driver name: <%= booking.trip.user.first_name %></li>
                    
                </ul>
                <!-- <%= button_to 'Delete Booking', trip_booking_path(booking.trip_id, booking.id), :method => 'delete', :data => { :confirm => 'Are you sure you want to delete your booking?' } %> -->
            </div>
            <% end %>
          
        <% end %>
        <% end %>

    <h2>Your Past Trips</h2>
        <% @current_user.bookings.each do |booking| %>
        <% unless booking.trip.date > Time.now %>
        <%= link_to booking.trip, :class => "button" do %> 
            <div class="passenger">
                <h3> <%= booking.trip.user.first_name %> - <%= booking.trip.origin %> to <%= booking.trip.destination %> <% if booking.trip.date < Date.today %> - EXPIRED <% end %></h3>
                <%= image_tag booking.trip.image, :class => 'thumb' %>
                <ul>
                    <li> Trip date: <%= booking.trip.date.strftime '%A, %B %e' %> at <%= booking.trip.time.strftime '%l:%M %p' %>    </li>
                    <li> Driver name: <%= booking.trip.user.first_name %></li>
                    
                </ul>
            </div>
        <% end %>
        <% end %>
        <% end %>
<% end %>
